@import '../../main.scss';

.go-to-lobby-button {
    width: 10em;
    height: 2.5em;
}

.league-select-dropdown {
    width: 10em;
    height: 2.5em;
}

.create-league-button {
    width: 8em;
    height: 2.5em;
}