@import '../../main.scss';

.go-to-lobby-button {
    width: 10em;
    height: 2.5em;
}

.league-select-dropdown {
    width: 10em;
    height: 2.5em;
}

.create-league-button {
    width: 10em;
    height: 2.5em;
}

.leagues-navbar {
    padding-bottom: 0.3em;
}