@import '../../main.scss';

.button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 100em;

    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }
}