@import '../../main.scss';

.landing-page-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 1em;
    text-align: center;

    img {
        width: 10vw;
    }

    .game-board-description {
        color: $light-gray;
    }
}

.landing-page-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    line-height: 1.1em;

    .landing-page-text-1 {
        flex: 1;
    }

    .landing-page-text-2 {
        flex: 1;
    }

    .landing-page-bullets {
        padding: 0.5em 0em;
    }
}

.landing-page-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 0.5em;

    .landing-page-button {
        height: 3em;
        width: 10em;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .landing-page-banner {
        img {
            display: none;
        }
    }

    .landing-page-text {
        width: 80%;
        flex-direction: column;
        text-align: center;
        align-self: center;
        
        .landing-page-text-1 {
            flex: 1;
        }

        .landing-page-text-2 {
            flex: 1;
        }

        .landing-page-bullets {
            text-align: left;
        }
    }

    .landing-page-buttons {
        gap: 1em;
    }
}
