$light-gray: #878787;
$hover-color: #E7E7E7;

$breakpoint-tablet: 768px;

@font-face {
    font-family: 'Anaheim';
    src: url('./Assets/Fonts/Anaheim-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0em;
    font-family: 'Anaheim';
}

hr {
    border-top: 2px solid black;
}

.page {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0em;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
}

.big-title {
    font-size: 5vw;
}

.title {
    font-size: 2.5vw;
}

.text {
    font-size: 1.75vw;
}

.small-text {
    font-size: 1.5vw;
}

@media screen and (max-width: $breakpoint-tablet) {
    .page {
        width: 100%;
        padding: 1em 1em;
    }

    .big-title {
        font-size: 3.5em;
    }
    
    .title {
        font-size: 2em;

        .text {
            font-size: 0.7em;
        }
    }
    
    .text {
        font-size: 1.5em;
    }
    
    .small-text {
        font-size: 1em;
    }

    .header {
        padding-bottom: 0.5em;
    }
}

