$light-gray: #878787;
$hover-color: #E7E7E7;

$breakpoint-tablet: 768px;

@font-face {
    font-family: 'Anaheim';
    src: url('./Assets/Fonts/Anaheim-Regular.ttf');
}

* {
    margin: 0em;
    font-family: 'Anaheim';
}
